body {
    background-image: url(../images/lines.png);
    color: #333;
}

a:active,
a:link,
a:visited {
    color: #0e5972;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

p.inline {
    text-indent: 0;
}

hr {
    background-color: #a5a5a5;
    height: 1px;
    margin: 18px 0 17px 0;
}

em {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

#page {
    margin: 0 auto 36px auto;
    background-image: url(../images/grid.png);
}

#white {
    width: 100%;
    height: 36px;
    background-color: white;
}

header {
    padding-bottom: 0;
    margin-bottom: 17px;
    border-bottom: 1px solid #a5a5a5;
}

header .column {
    padding-bottom: 0;
}

header .first {
    height: 72px;
}

header h3 {
    padding-top: 37px;
}

header .skill h3 {
    text-align: right;
}

h4, h5 {
    font-weight: normal;
}

.tasks h4 {
    text-align: right;
    padding-left: 18px;
}

.column {
    padding-bottom: 18px;
}

.nav-list p {
    text-align: right;
}

h5 {
    margin-top: 18px;
}

