<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />

    <title>Page name - IT Help</title>

    <meta name="description" lang="fr" content="Helping people in IT technologies" />
    <meta name="keywords" lang="fr" content="IT, help, computer, problem, question" />

    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./stylesheets/design.css" rel="stylesheet" type="text/css" media="all" />

    <script type="text/javascript" src="./scripts/jquery.min.js"></script>

    <!--[if lte IE 8]>
    <script src="./scripts/html5.js"></script>
    <![endif]-->
</head>

<body>
<div id="main">
    <header>
        <div>
            <a href="home.html" class="logo">
                <img src="./images/logo.png" alt="Logo" />
            </a>

            <nav>
                <a href="home.html" class="active">Home</a>
                <a href="thread_list.html">Thread list</a>
                <a href="about.html">About us</a>
            </nav>

            <hr class="clear" />
        </div>
    </header>

    <section class="section-breadcrumb">
        <ul class="breadcrumb">
          <li class="active">Home</li>
        </ul>
    </section>

    <section>
        <h1>
            <a href="thread_detail.html">Hottest thread: Thread name</a>
            <ul class="rating pull-right">
                <li><a href="#" title="vote up"><span class="badge badge-success">+4</span></a></li>
                <li><a href="#" title="vote down"><span class="badge badge-important">-3</span></a></li>
            </ul>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <a href="thread_detail.html">Read more</a>
    </section>

    <section>
        <h1>Welcome to IT Help</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus urna, porta sit amet orci eu, sollicitudin consequat urna. Praesent nec lacus vitae elit accumsan vestibulum. Ut eu euismod metus. Pellentesque a quam ornare, blandit tellus eget, egestas risus. Etiam nec urna vitae augue viverra aliquam. Proin aliquet ultricies odio, congue malesuada purus imperdiet vitae. Nunc laoreet eleifend turpis nec suscipit. Morbi lacinia tortor mi, sit amet ultrices nisl varius eu. Vestibulum elit nisi, sollicitudin id urna sit amet, scelerisque elementum eros. Vivamus rutrum tempor dolor, eu luctus metus facilisis vel. Sed molestie varius adipiscing. Aliquam erat volutpat. Nulla non magna condimentum, scelerisque odio ut, condimentum quam. Aenean enim nulla, placerat eget tellus vel, ullamcorper blandit odio. Curabitur at nibh pellentesque, pretium urna at, porttitor libero. Pellentesque tellus nulla, suscipit a sodales ut, dapibus eu magna.
        </p>
        <p>
            Pellentesque gravida vestibulum diam in vestibulum. Phasellus venenatis sagittis enim. Vivamus facilisis dapibus tortor, et euismod velit. Mauris tellus dolor, accumsan in malesuada vitae, auctor ac augue. Integer adipiscing, lectus a pretium elementum, arcu felis suscipit mi, ac faucibus nibh massa vitae turpis. Integer egestas sapien eu nisi sagittis, et venenatis nisl dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed scelerisque tristique lobortis. Morbi eu convallis justo. In hac habitasse platea dictumst. Aenean eu lacus a neque facilisis porttitor. Phasellus ultricies, orci nec consequat sodales, risus arcu dictum arcu, eu aliquet ligula lacus sed erat. Etiam euismod nunc eget turpis facilisis sodales nec tincidunt orci. Fusce tristique sagittis risus. Maecenas rhoncus sed diam quis tincidunt.
        </p>
        <p>
            Pellentesque vel sem posuere, adipiscing lorem sed, tincidunt mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus mollis blandit adipiscing. Praesent blandit a eros vel interdum. Aenean vitae nisl tortor. Duis et lorem pulvinar, interdum sem et, pellentesque leo. Nunc iaculis, felis cursus elementum fringilla, dolor risus tempor dolor, in dictum sem sapien eu urna. Cras dapibus sem sed ligula consequat, in laoreet ante viverra.
        </p>
    </section>

    <footer>
        Copyright &copy; 2014 <strong>IT Help</strong> - ICT Championships 2014 <br /> Candidate information
    </footer>
</div>
</body>

</html>